---
layout: default
---


<div class="heading" id="toc">
  <h2>Table des matières</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">HTML</a></h4>
    <ul>
      <li><a href="#html-syntax">Syntaxe</a></li>
      <li><a href="#html-doctype">Doctype HTML5</a></li>
      <li><a href="#html-lang">Attributs de langue</a></li>
      <li><a href="#html-encoding">Encodage des caractères</a></li>
      <li><a href="#html-ie-compatibility-mode">Mode de compatibilité Internet Explorer</a></li>
      <li><a href="#html-style-script">Inclusions CSS et Javascript</a></li>
      <li><a href="#html-practicality">Praticité plutôt que pureté</a></li>
      <li><a href="#html-attribute-order">Ordre des attributs</a></li>
      <li><a href="#html-boolean-attributes">Attributs booléens</a></li>
      <li><a href="#html-reducing-markup">Reduire le markup</a></li>
      <li><a href="#html-javascript">Markup généré par Javascript</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-syntax">Syntaxe CSS</a></li>
      <li><a href="#css-declaration-order">Ordre des déclarations</a></li>
      <li><a href="#css-import">N'utilisez pas @import</a></li>
      <li><a href="#css-media-queries">Emplacement des media queries</a></li>
      <li><a href="#css-prefixed-properties">Propriétées prefixées</a></li>
      <li><a href="#css-single-declarations">Règles avec une seule déclaration</a></li>
      <li><a href="#css-shorthand">Notation abrégées</a></li>
      <li><a href="#css-nesting">Imbrication avec LESS et SASS</a></li>
      <li><a href="#css-comments">Commentaires</a></li>
      <li><a href="#css-classes">Classes</a></li>
      <li><a href="#css-selectors">Sélecteurs</a></li>
      <li><a href="#css-organization">Organisation</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>Règle d'or</h2>
    <p>Définissez vos propres règles, ou suivez celle-ci, mais forcez-vous à les suivre tout le temps. Les petites comme les grandes infractions aux règles doivent être corrigées. Pour tout ajout ou contribution à ce Guide de Code, merci <a href="https://github.com/mdo/code-guide/issues/new/">d'ouvrir un ticket sur GitHub</a>.</p>
  </div>
  <div class="col">
    <blockquote>
      <p>Toutes les lignes de code doivent sembler avoir été écrites par la même personne, quelque soit le nombre de contributeurs.</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>Syntaxe</h3>
    <ul>
      <li>utilisez des indentations douces avec deux espaces — c'est le seul moyen de garantir que le code s'affichera de la même manière sous tous les environnements. </li>
      <li>les éléments imbriqués doivent être indentés une fois (deux espaces).</li>
      <li>utilisez toujours des guillements doubles, jamais de guillemets simples, sur les attributs.</li>
      <li>n'utilisez pas de slash terminal sur les éléments auto-fermants — la <a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">spécification html5</a> indique qu'ils sont optionnels.</li>
      <li>n'omettez pas les balises optionnelles de fermeture (e.g. <code>&lt;/li&gt;</code> ou <code>&lt;/body&gt;</code>).</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>Doctype HTML6</h3>
    <p>Forcez le mode standard et donc un affichage plus cohérent dans tous les navigateurs possibles avec ce simple doctype au début de chaque page HTML.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    <h3>Attributs de langue</h3>
    <p>D'après la spec HTML5:</p>
    <blockquote>
      <p>Les auteurs sont encouragés à spécifier un attribut de langue sur l'élément racine html, afin de donner une langue au document. Ceci aide les outils de synthèse vocale à déterminer la prononciation à utiliser, les outils de traductions à choisir les règles à utiliser, etc.</p>
    </blockquote>
    <p>Vous pouvez en savoir plus sur l'attribut <code>lang</code> <a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">en lisant la spec</a>.</p>
    <p>Rendez-vous sur Sitepoint pour une <a href="http://reference.sitepoint.com/html/lang-codes">liste des codes de langue</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    <h3>Mode de compatibilité IE</h3>
    <p>Interne Explorer supporte l'utilisation d'une balise de compatibilité <code>&lt;meta&gt;</code> pour spécifier sous quelle version de IE la page devrait être rendue. Sauf cas exceptionnel, il est préférable de dire à IE d'utiliser le dernier mode de rendu supporté avec <strong>edge mode</strong>.</p>
    <p>Pour plus d'informations, <a href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">vous pouvez lire cet extraordinaire article sur Stack Overflow</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>Encodage des caractères</h3>
    <p>Assurez vous rapidement et facilement d'un bon rendu de votre contenu en déclarant de manière explicite l'encodage des caractères. En faisant ainsi, vous pouvez éviter d'utiliser des entités HTML, pour peu que leur encoding corresponde à celui du document (généralement UTF-8)</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>Inclusions CSS et Javascript</h3>
    <p>Selon la spec HTML, il n'est pas nécessaire de spécifier un <code>type</code> lorsque vous incluez des fichiers CSS ou Javascript puisque <code>text/css</code> et <code>text/javascript</code> sont leurs valeurs par défaut respectives.</p>
    <h4>Liens vers la spec HTML5</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Utiliser link</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Utiliser style</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Utiliser style</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-practicality">
  <div class="col">
    <h3>Praticité plutôt que pureté</h3>
    <p>Tendez à maintenir les standards et la sémantique HTML, mais pas au dépends de la praticité. Autant que possible, cherchez à utiliser le moins de markup possible, avec le moins d'imbrication possible.</p>
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>Ordre des attributs</h3>
    <p>Les attributs HTML devraient apparaitre dans cet ordre, afin de faciliter la lecture du code.</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>aria-*</code>, <code>role</code></li>
    </ul>
    <p>Les classes sont de très bon composants réutilisables, ils doivent donc apparaitre en premier. Les Ids sont plus spécifiques et doivent donc être utilisés avec parcimonie (e.g. pour des liens internes à la page), ils viennent donc en seconde position.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>Attributs booléens</h3>
    <p>Un attribut booléen est un attribut qui ne nécessite pas de valeur. Il était nécessaire d'en ajouter un en XHTML, mais HTML5 n'a pas ce pré-requis.</p>
    <p>Pour plus d'informations, consultez la <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">section WhatWG sur les attributs booléens</a>:</p>
    <blockquote>
      <p>La présence d'un attribut booléen sur un élément représente la valeur vraie, et l'absence de l'attribut représente la valeur faux.</p>
    </blockquote>
    <p>Si vous <em>devez</em> inclure la valeur de l'attribut, mais que <strong>vous n'en avez pas besoin</strong>, suivez cette bonne pratique du WhatWG :</p>
    <blockquote>
      <p>Si l'attribut est présent, sa valeur doit soit être une chaine vide ou [...] le nom canonique de l'attribut, sans espace ni devant, ni derrière.</p>
    </blockquote>
    <p><strong>En clair, n'ajoutez pas de valeur.</strong></p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>Réduire le markup</h3>
    <p>Autant que possible, évitez les éléments parents inutile quand vous écrivez du HTML. Bien souvent, cela nécessite plusieurs passes et du refactoring, mais cela produit moins de HTML. Prenez l'exemple suivant :</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-javascript">
  <div class="col">
    <h3>Markup généré par Javascript</h3>
    <p>Écrire du markup dans un fichier Javascript rends son contenu plus difficile à trouver, plus difficile à éditer et moins performant. Évitez autant que possible.</p>
  </div>
</div>



<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>Syntaxe</h3>
    <ul>
      <li>Utilisez une indentation douce avec deux espaces — c'est le seul moyen de garantir que le code s'affiche de la même manière sur tous les environnements.</li>
      <li>Lorsque vous regroupez des sélecteurs, laissez chaque sélecteur sur sa propre ligne.</li>
      <li>Ajouter un espace avant l'accolade d'ouverture de la déclaration pour la lisibilité.</li>
      <li>Placez les accolades de fermeture de la déclaration sur une nouvelle ligne.</li>
      <li>Ajouter un espace après <code>:</code> pour chaque déclaration.</li>
      <li>Chaque déclaration doit apparaitre sur sa propre ligne pour un affichage des erreurs plus précis.</li>
      <li>Terminez vos déclarations par un point-virgule. Celui sur la dernière déclaration est optionnel mais votre code sera plus robuste aux erreurs en l'ajoutant.</li>
      <li>Les valeurs de propriétés séparées par des virgules doivent inclure un espace après chaque virgule (e.g., <code>box-shadow</code>).</li>
      <li>N'ajoutez pas d'espace après les virgules <em>à l'intérieur de </em> <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code>, ou <code>rect()</code>. Cela permet de différencier de multiples valeurs de couleurs (virgule, sans espace), de multiples valeurs de propriétés (virgule, avec espac multiples valeurs de propriétés (virgule, avec espace).</li>
      <li>Ne préfixez pas les valeurs de propriétés ou les paramètres de couleur avec un zéro (e.g., <code>.5</code> plutot que <code>0.5</code> et <code>-.5px</code> plutot que <code>-0.5px</code>).</li>
      <li>Mettez toutes les valeurs hexadécimales en minuscule, e.g., <code>#fff</code>. Les lettres minuscules sont bien plus facile à repérer lorsqu'on scanne  visuellement un document car elles ont des formes plus uniques.</li>
      <li>Utilisez les valeurs réduits hexadécimales dès que possible, e.g., <code>#fff</code> plutot que <code>#ffffff</code>.</li>
      <li>Mettez les valeurs des attributes entre double guillemets dans les sélecteurs, e.g., <code>input[type="text"]</code>. <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">Ils sont optionnels dans certains cas</a>, mais c'est une bonne pratique pour la cohérence.</li>
      <li>Évitez d'ajouter des unités quand la valeur est zéro, e.g., <code>margin: 0;</code> plutot que <code>margin: 0px;</code>.</li>
    </ul>
    <p>Vous avez des questions sur les termes employés ici ? Référez-vous à la <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">section sur la syntaxe de l'article sur les Cascading Style Sheets</a> sur Wikipedia.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>Ordre des déclarations</h3>
    <p>Les déclarations de propriétés similaires devraient être regroupées ensemble selon cet ordre :</p>
    <ol>
      <li>Positionnement</li>
      <li>Modèle de boite</li>
      <li>Typographie</li>
      <li>Visuel</li>
    </ol>
    <p>Le positionnement vient en premier car cela peut retirer un élément du flux normal du document et overrider les styles relatifs au modèle de boite. Le modèles de boite vient ensuite car il influe sur les dimensions et le placement de l'élément.</p>
    <p>Tout le reste agissant <em>à l'intérieur</em> de l'élement ou sans impacter les deux sections précédentes, ils viennent ensuite.</p>
    <p>Pour une liste complète des propriétés et leur ordre, merci de vous référer à <a href="http://twitter.github.com/recess">Recess</a>.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3>N'utilisez pas <code>@import</code></h3>
    <p>Comparé à des <code>&lt;link&gt;</code>s, <code>@import</code> est plus lent, ajoute de nouvelles requêtes à la page et peut poser des problèmes imprévisibles. Évitez les autant que possible et optez plutot pour une approche alternative :</p>
    <ul>
      <li>Utilisez plusieurs éléments <code>&lt;link&gt;</code>/li>
      <li>Compilez votre CSS avec un pré-processeur, comme Sass ou Less dans un seul fichier.</li>
      <li>Concaténez votre CSS grâce aux fonctionnalités proposées par Rails, Jekyll ou d'autres environnements.</li>
    </ul>
    <p>Pour plus d'informations, <a href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">lisez cet article de Steve Souders</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>Media query placement</h3>
    <p>Place media queries as close to their relevant rule sets whenever possible. Don't bundle them all in a separate stylesheet or at the end of the document. Doing so only makes it easier for folks to miss them in the future. Here's a typical setup.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    <h3>Prefixed properties</h3>
    <p>When using vendor prefixed properties, indent each property such that the declaration's value lines up vertically for easy multi-line editing.</p>
    <p>In Textmate, use <strong>Text &rarr; Edit Each Line in Selection</strong> (&#8963;&#8984;A). In Sublime Text 2, use <strong>Selection &rarr; Add Previous Line</strong> (&#8963;&#8679;&uarr;) and <strong>Selection &rarr;  Add Next Line</strong> (&#8963;&#8679;&darr;).</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    <h3>Single declarations</h3>
    <p>In instances where a rule set includes <strong>only one declaration</strong>, consider removing line breaks for readability and faster editing. Any rule set with multiple declarations should be split to separate lines.</p>
    <p>The key factor here is error detection—e.g., a CSS validator stating you have a syntax error on Line 183. With a single declaration, there's no missing it. With multiple declarations, separate lines is a must for your sanity.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    <h3>Shorthand notation</h3>
    <p>Strive to limit use of shorthand declarations to instances where you must explicitly set all the available values. Common overused shorthand properties include:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>Often times we don't need to set all the values a shorthand property represents. For example, HTML headings only set top and bottom margin, so when necessary, only override those two values. Excessive use of shorthand properties often leads to sloppier code with unnecessary overrides and unintended side effects.</p>
    <p>The Mozilla Developer Network has a great article on <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">shorthand properties</a> for those unfamiliar with notation and behavior.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-nesting">
  <div class="col">
    <h3>Nesting in Less and Sass</h3>
    <p>Avoid unnecessary nesting. Just because you can nest, doesn't mean you always should. Consider nesting only if you must scope styles to a parent and if there are multiple elements to be nested.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    <h3>Comments</h3>
    <p>Code is written and maintained by people. Ensure your code is descriptive, well commented, and approachable by others. Great code comments convey context or purpose. Do not simply reiterate a component or class name.</p>
    <p>Be sure to write in complete sentences for larger comments and succinct phrases for general notes.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-classes">
  <div class="col">
    <h3>Class names</h3>
    <ul>
      <li>Keep classes lowercase and use dashes (not underscores or camelCase). Dashes serve as natural breaks in related class (e.g., <code>.btn</code> and <code>.btn-danger</code>).</li>
      <li>Avoid excessive and arbitrary shorthand notation. <code>.btn</code> is useful for <em>button</em>, but <code>.s</code> doesn't mean anything.</li>
      <li>Keep classes as short and succinct as possible.</li>
      <li>Use meaningful names; use structural or purposeful names over presentational.</li>
      <li>Prefix classes based on the closest parent or base class.</li>
      <li>Use <code>.js-*</code> classes to denote behavior (as opposed to style), but keep these classes out of your CSS.</li>
    </ul>
    <p>It's also useful to apply many of these same rules when creating Sass and Less variable names.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>Selectors</h3>
    <ul>
      <li>Use classes over generic element tag for optimum rendering performance.</li>
      <li>Avoid using several attribute selectors (e.g., <code>[class^="..."]</code>) on commonly occuring components. Browser performance is known to be impacted by these.</li>
      <li>Keep selectors short and strive to limit the number of elements in each selector to three.</li>
      <li>Scope classes to the closest parent <strong>only</strong> when necessary (e.g., when not using prefixed classes).</li>
    </ul>
    <p>Additional reading:</p>
    <ul>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Scope CSS classes with prefixes</a></li>
      <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">Stop the cascade</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    <h3>Organization</h3>
    <ul>
      <li>Organize sections of code by component.</li>
      <li>Develop a consistent commenting hierarchy.</li>
      <li>Use consistent white space to your advantage when separating sections of code for scanning larger documents.</li>
      <li>When using multiple CSS files, break them down by component instead of page. Pages can be rearranged and components moved.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-editor-prefs">
  <div class="col">
    <h3>Editor preferences</h3>
    <p>Set your editor to the following settings to avoid common code inconsistencies and dirty diffs:</p>
    <ul>
      <li>Use soft-tabs set to two spaces.</li>
      <li>Trim trailing white space on save.</li>
      <li>Set encoding to UTF-8.</li>
      <li>Add new line at end of files.</li>
    </ul>
    <p>Consider documenting and applying these preferences to your project's <code>.editorconfig</code> file. For an example, see <a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">the one in Bootstrap</a>. Learn more <a href="http://editorconfig.org">about EditorConfig</a>.</p>
  </div>
</div>
